---
import Layout from '../../layouts/Layout.astro';
import { GenreForm } from '../../components/GenreForm.tsx';
import { prisma } from '../../lib/prisma';

// const response = await fetch('/api/genres');
// const genres = await response.json();
const genres = await prisma.genre.findMany();

---

<Layout title="Genres">
  <main class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Manage Genres</h1>
    <GenreForm initialGenres={genres} client:load />
  </main>
</Layout>